<html>
  <head>
    <title>Password reset</title>
    <style>
      body { font-family: sans-serif; } h1 { color: #333; } a { color: #0366d6;
      } a:hover { text-decoration: none; }
    </style>
  </head>
  <body>
    <h1>Hola {{name}},</h1>
    <p>
      Puedes restablecer tu contraseña haciendo clic en el siguiente enlace:
    </p>
    <a href='{{url}}'>Cambiar contraseña</a>
    <p>
      Si tienes problemas para hacer clic en el enlace, puedes copiar y pegar la
      URL a continuación en tu navegador web:
      {{url}}
    </p>
    <p>
      ¡Esperamos que disfrutes de nuestro sitio!
    </p>
    <p>
      Saludos,<br />
      El equipo de capiclue
    </p>
  </body>
</html>